@page
@model animeNewsProject.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1>@ViewData["Title"]</h1>

<p>Sorry, you don't have sufficient privileges to access this page.</p>