@page
@model animeNewsProject.Pages.AddArticleModel
@{
}

<h1>Add Article</h1>

<div class="edit-article-container">
    <form method="post" enctype="multipart/form-data">

        <!-- Title -->
        <div class="form-group">
            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" class="form-control" required>
        </div>

        <!-- Text -->
        <div class="form-group">
            <label for="text" class="form-label">Text:</label>
            <textarea id="text" name="text" rows="4" class="form-control" required></textarea>
        </div>

        <!-- Image -->
        <div class="form-group">
            <label for="image" class="form-label">Image:</label>
            <input type="file" id="image" name="imageFile" class="form-control">
        </div>

        <!-- Author Name -->
        <div class="form-group">
            <label for="authorName" class="form-label">Author Name:</label>
            <input type="text" id="authorName" name="authorName" class="form-control" required>
        </div>

        <!-- Source Link -->
        <div class="form-group">
            <label for="source_link" class="form-label">Source Link:</label>
            <input type="text" id="source_link" name="SourceLink" class="form-control">
        </div>

        <!-- Category -->
        <input type="radio" name="category" id="anime" value="Anime">
        <label for="anime">Anime</label>

        <input type="radio" name="category" id="manga" value="Manga">
        <label for="manga">Manga</label>

        <input type="radio" name="category" id="gaming" value="Gaming">
        <label for="anime">Gaming</label>

        <input type="radio" name="category" id="industry-news" value="Industry-News">
        <label for="manga">Industry News</label>

        <!-- Submit Button -->
        <div class="form-group article-actions">
            <button type="submit" class="btn btn-primary">Add Entry</button>
        </div>

    </form>
</div>
