@page
@model animeNewsProject.Pages.FeaturesModel
@{
}
<style>
        body {
            background-color: #f7f7f7;
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            text-align: center;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 40px;
        }

        img {
            width: 200px;
            margin-bottom: 40px;
        }
    </style>

<h1>Testing Azure Blob Storage Connection</h1>

<p>Upload and download operations have been performed successfully.</p>