@page
@model animeNewsProject.Pages.TestingDbModel

<h1>Mongo test</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>Connection Status</h2>
                    <p>Is MongoDB Connected: @Model.IsMongoDbConnected</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2>MongoDB Connection String</h2>
                    @if (!string.IsNullOrEmpty(Model.MongoDbConnectionString))
                    {
                        <table class="table">
                            <tbody>
                                @foreach (var item in Model.ParseConnectionString(Model.MongoDbConnectionString))
                                {
                                    <tr>
                                        <th>@item.Key</th>
                                        <td>@item.Value</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.DatabaseNames.Any())
{
    <div class="container">
        <h2>Database Names:</h2>
        <div class="row">
            <div class="col">
                <ul>
                    @foreach (var dbName in Model.DatabaseNames)
                    {
                        <li>@dbName</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}
else
{
    <p>No databases found.</p>
}

