.custom-navbar {
    display: flex;
    justify-content: center;
}

.custom-navbar-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.custom-navbar-item {
    margin-right: 20px;
}

.custom-navbar-link {
    text-decoration: none;
    color: #000;
}

    .custom-navbar-link:not(:last-child)::after {
        content: "\2022"; /* Bullet point */
        margin-left: 10px;
        color: #888;
    }

.custom-login-link {
    margin-left: auto;
}
