/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
    color: #0077cc;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}


.burger-icon:before, .burger-icon:after {
    content: "";
    background: #FFF;
    display: block;
    margin: auto;
    height: 1px;
    width: 15px;
}

.burger-icon:before {
    margin-bottom: 6px;
}

.burger-icon:after {
    margin-top: 6px;
}

.header-right .social-icons {
    display: inline-block;
}

.header-right .header-buttons {
    display: inline-block;
    margin-left: 50px;
}

.header-right .header-buttons button {
margin-left: 10px;
}

.header-right .header-buttons button:first-child {
margin-left: 0;
}
.icon-button {
    color: #FFF;
    border: 0;
    border-radius: 50%;
    background: #FFA387;
    background: -webkit-linear-gradient(bottom, #FFA387 0%, #FE4F70 51%, #FFA387 100%);
    background: linear-gradient(to top, #FFA387 0%, #FE4F70 51%, #FFA387 100%);
    background-size: auto 200%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 37px;
    line-height: 39px;
    text-align: center;
    vertical-align: middle;
    width: 37px;
    -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    .icon-button:hover {
        background-position: bottom center;
    }*/


/*=================================================================*/
/*                      SEARCH POPUP                              
/*=================================================================*/
/*.search-popup {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 6;
    opacity: 0;
    visibility: hidden;
}

    .search-popup.visible {
        opacity: 1;
        visibility: visible;
        animation: growOut 500ms ease-in-out forwards;
    }

    .search-popup .search-content {
        position: absolute;
        top: 40%;
        left: 50%;
        width: 650px;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .search-popup .btn-close {
        right: 30px;
        top: 30px;
        position: absolute;
    }*/